# dependencies
/node_modules

# testing
/coverage
test-results/

# build
/.next/
/out/
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
